
#press_masthead {
    height: 580px;
    

    height: 580px;
    background-color: rgba(6,58,148,1);
    position: relative;
    margin-top: 94px;

    
}

#press_masthead #press_masthead_bg{
    
    background: url('../images/bmu.jpg');
    background-size: contain;
    height: 100%;
    opacity: 0.5;
    filter: grayscale(100%);
    width: 100%;
    background-position: center;
}

#press_masthead #press_masthead_content{
    position: absolute;
    color: white;
    z-index: 1;
}